################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatingApp.API/datingapp.db-shm
/DatingApp.API/datingapp.db-wal
