<form [formGroup]="donationForm" (ngSubmit)="donation()">
  <h2 class="text-center text-primary">Donation</h2>
  <hr />



  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid':
          donationForm.get('title').errors &&
          donationForm.get('title').touched
      }"
      class="form-control"
      formControlName="title"
      placeholder="title"
    />
    <div class="invalid-feedback">Please choose a title</div>
  </div>

  <div class="form-group">
    <textarea
      [ngClass]="{
        'is-invalid':
          donationForm.get('content').errors && donationForm.get('content').touched
      }"
      class="form-control"
      placeholder="content"
      formControlName="content">
    </textarea>
    <div
      class="invalid-feedback"
      *ngIf="
        donationForm.get('content').touched &&
        donationForm.get('content').hasError('required')
      "
    >
      content is required
    </div>
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-success"
      [disabled]="!donationForm.valid"
      type="submit"
    >
      Post
    </button>
 
  </div>
</form>
